.input {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  border: none;
  border-bottom: 1px solid black;
  height: 24px;
  margin-top: 12px;
  padding-left: 4px;
  padding-bottom: 2px;
}

.input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 3;
  color: #cacaca;
}

.tagSubmit {
  visibility: hidden;
}
